body {
    font-family: 'Encode Sans', sans-serif;
}

.wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.app {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    padding: 50px;
    border: 1px solid #37474f;
    border-radius: 20px;
}

.overview {
    margin-bottom: 20px;
}

h1 {
    color: #eeeeee;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.app-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.app-temperature strong {
    color: #eeeeee;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.app-temperature .units {
    position: relative;
    font-size: 16px;
    color: #eeeeee;
    top: -34px;
}

.app-temperature .active {
    color: #eeeeee;
    cursor: default;
}

.app-temperature .active:hover {
    text-decoration: none;
}